extends layoutA

block content
  section(class="section is-medium")
    h1(class="title") Can't decide what to read next?
    h2(class="subtitle") Check out what others have to say about their recent reads
    form(method="get" action="/search")
        div(class="field has-addons")
            div(class="control")
                input(class="input" type="text" placeholder="Search" name="search")
            div(class="control")
                button(class="button is-info" type="submit") Search
    div(class="columns is-multiline")
      each book in user_books
          div(class="column is-one-third")
            a(class="review-link" href="/book" + book._id)
              div(class="card")
                  div(class="card-content")
                      div(class="media")
                          div(class="media-left")
                              figure(class="image is-48x48")
                                  img(class="is-rounded" src="data:" + book.creatorimg.contentType + ";base64," + book.creatorimg.data.toString('base64') alt="Default image")
                          div(class="media-content")
                              p(class="title is-6") #{book.creator}            
                  div(class="card-image")
                      figure(class="image is-4by3")
                          img(src="data:" + book.bookimg.contentType + ";base64," + book.bookimg.data.toString('base64'))
                  div(class="card-content")
                      p(class="title is-4") #{book.title}
                      p(class="subtitle is-6") #{book.author}
                      div(class="main-stars columns is-gapless is-mobile")
                          - for(var i=0; i< book.rating; i++) {
                              div(class="column is-narrow")
                                  img(class="image is-24x24" src="../images/star-img1.jpeg")
                          - }
                      div(class="content") #{book.comment}

  section(class="section is-medium")  
    h1(class="title") #{no_results}

