extends layout

block content
    section(class="hero sub-img")
        div(class="hero-body")
        div(class="hero-foot")
            nav(class="navbar")
                div(class="container")
                    div(class="navbar-brand")
                        span(class="navbar-burger" data-target="navbarMenuHeroA")
                            span
                            span
                            span
                    div(id="navbarMenuHeroA" class="navbar-menu")
                        div(class="navbar-end")
                        a(class="navbar-item" href="/") Home
                        a(class="navbar-item") About
                        a(class="navbar-item is-active" href="/login") Sign In
                        a(class="navbar-item") Sign Up 
    section(class="section is-small")
        div(class="columns")
            div(class="column is-half is-offset-one-quarter")
                h1(class="title") Sign in to My Books
                div(class="field")
                    label(class="label") Username
                    div(class="control has-icons-left has-icons-right")
                        input(
                            class="input is-success"
                            type="text"
                            placeholder="Text input"
                        )
                        span(class="icon is-small is-left")
                            i(class="fas fa-user")
                        span(class="icon is-small is-right")
                            i(class="fas fa-check")
                    p(class="help is-success") This username is available

                div(class="field")
                    label(class="label") Password
                    div(class="control has-icons-left has-icons-right")
                        input(
                            class="input is-danger"
                            type="password"
                            placeholder="Enter password"
                        ) 
                        span(class="icon is-small is-left")
                            i(class="fas fa-envelope")
                        span(class="icon is-small is-right")
                            i(class="fas fa-exclamation-triangle")
                    p(class="help is-danger") This password is invalid

                div(class="field is-grouped")
                    div(class="control")
                        button(class="button is-success") Sign in           

        h1 #{title}