extends layoutB

block content
    section(class="section is-small")
        nav(class="level")
            div(class="level-left")
                h1(class="title") Welcome, #{username}
            div(class="level-right")
                div(class="buttons")
                    button(class="js-modal-trigger button is-primary" data-target="upload-modal") Add Review    
    section(class="section is-small")
        h1(class="title") All Books
        div(class="columns is-multiline")
            each book in user_books
                div(class="column is-one-third")
                    a(class="review-link" href="/book" + book._id)
                        div(class="card")
                            div(class="card-content")
                                div(class="media")
                                    div(class="media-left")
                                        figure(class="image is-48x48")
                                            img(class="is-rounded" src="data:" + book.creatorimg.contentType + ";base64," + book.creatorimg.data.toString('base64') alt="Default image")
                                    div(class="media-content")
                                        p(class="title is-6") #{book.creator}
                                        //p(class="subtitle is-8") @katkat
                            div(class="card-image")
                                figure(class="image is-4by3")
                                    img(src="data:" + book.bookimg.contentType + ";base64," + book.bookimg.data.toString('base64'))
                            div(class="card-content")
                                p(class="title is-4") #{book.title}
                                p(class="subtitle is-6") #{book.author}
                                div(class="main-stars columns is-gapless is-mobile")
                                    - for(var i=0; i< book.rating; i++) {
                                        div(class="column is-narrow")
                                            img(class="image is-24x24" src="../images/star-img1.jpeg")
                                    - }
                                div(class="content") #{book.comment}
    div(id="upload-modal" class="modal")
        div(class="modal-background")
        div(class="modal-card")
            form(class="box" id="review-form" method="post" action="/add-review" enctype="multipart/form-data")
                header(class="modal-card-head")
                    p(class="modal-card-title") Add Book Review
                section(class="modal-card-body")
                    div(class="field")
                        label(class="label") Title
                            div(class="control")
                                input(class="input" type="text" placeholder="Book Title" name="book_title")
                    div(class="field")
                        label(class="label") Author
                            div(class="control")
                                input(class="input" type="text" placeholder="Author Name" name="author")
                    div(class="file has-name")
                        label(class="file-label")
                            input(class="file-input" type="file" name="book_pic")
                            span(class="file-cta")
                                span(class="file-icon")
                                    i(class="fas fa-upload")
                                span(class="file-label") Upload book image  
                            span(class="file-name")
                    div(class="field")
                        label(class="label") Rating
                            div(class="control form-stars columns is-gapless is-mobile")
                                input(class="star-rating" id="rating-1" type="radio" name="rating" value="1") 
                                label(for="rating-1")
                                    img(class="star-img image is-32x32" id="star-1" src="../images/star-img0.jpeg")
                                input(class="star-rating" id="rating-2" type="radio" name="rating" value="2")
                                label(for="rating-2") 
                                    img(class="star-img image is-32x32" id="star-2" src="../images/star-img0.jpeg")
                                input(class="star-rating" id="rating-3" type="radio" name="rating" value="3") 
                                label(for="rating-3")
                                    img(class="star-img image is-32x32" id="star-3" src="../images/star-img0.jpeg")
                                input(class="star-rating" id="rating-4" type="radio" name="rating" value="4") 
                                label(for="rating-4")
                                    img(class="star-img image is-32x32" id="star-4" src="../images/star-img0.jpeg")
                                input(class="star-rating" id="rating-5" type="radio" name="rating" value="5")
                                label(for="rating-5") 
                                    img(class="star-img image is-32x32" id="star-5" src="../images/star-img0.jpeg") 
                    div(class="field")
                        label(class="label") Comment
                            div(class="control")
                                textarea(
                                    class="textarea" 
                                    placeholder="What is your opinion of the book?"
                                    name="comment"
                                )  
                footer(class="modal-card-foot")
                    button(type="submit" class="button is-success") Add Review
                    button(type="button" class="button" id="cancel-review") Cancel               
    h1 #{title} hello!