extends layoutC

block content
    section(class="section is-small")
        div(class="columns")
            div(class="column is-half is-offset-one-quarter")
                form(class="box" method="post" action="/user-signup")
                    h1(class="title") Sign Up
                    div(class="field")
                        label(class="label") Username
                        div(class="control")
                            input(
                                class="input" 
                                type="text"
                                name="username" 
                                placeholder="Enter username"
                            )
                        div(class="field")
                            label(class="label") Password
                            div(class="control")
                                input(
                                    class="input"
                                    type="password"
                                    name="password"
                                    placeholder="Enter password"
                                )                            
                        div(class="field")
                            label(class="label") Confirm Password
                            div(class="control")
                                input(
                                    class="input"
                                    type="password"
                                    name="confirm_password"
                                    placeholder="Confirm password"
                                )
                        div(class="control")
                            button(class="button is-primary" type="submit") Sign up   
                        a(href="/login") Already a member? Login here!         